<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>CV</title>
	<style>
		.page-content {
			max-width: 1000px;
			margin: 0 auto;
		}
	</style>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<div class="container-fluid page-content">
		<table class="table table-borderless">
			<tbody>
				<tr>
					<td rowspan="2">
						<img src="https://lh3.googleusercontent.com/a/ACg8ocKvmz0KCz3y8WRsixRkeKtHM7_DxabBh5V4JpyhICUiRAtL=s288-c-no" class="img-fluid rounded-circle">
						</img>
					</td>
					<td>
						<h2>Adrian George</h2>
						<h1>Radu</h1>
					</td>
				</tr>
				<tr>
					<td>
						<p>11.03.1977</p>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Details</h3>
						<p><b>Adress</b><br>My Street nr. 123, 123456 Berlin</p>
						<p><b>Phone</b><br>+1 (970) 888-3866</p>
						<p><b>Email</b><br>anthony.davies@mail.com</p>
						<p><b>Portfolio</b><br>https://github.com/agradu</p>
						<h3 class="pt-3">Skills</h3>
						<p><i class="fa-solid fa-caret-right"></i> Skill nr 1<br>
						<i class="fa-solid fa-caret-right"></i> Skill nr. 2<br>
						<i class="fa-solid fa-caret-right"></i> Skill nr 3<br>
						<i class="fa-solid fa-caret-right"></i> Skill nr. 4</p>
						<h3 class="pt-3">Hobbies</h3>
						<i class="fa-solid fa-caret-right"></i> Hobby nr 1<br>
						<i class="fa-solid fa-caret-right"></i> Hobby nr. 2<br>
						<i class="fa-solid fa-caret-right"></i> Hobby nr 3<br>
						<i class="fa-solid fa-caret-right"></i> Hobby nr. 4</p>
						<h3 class="pt-3">Languages</h3>
						<i class="fa-solid fa-caret-right"></i> Language nr 1<br>
						<i class="fa-solid fa-caret-right"></i> Language nr. 2</p>
					</td>
					<td>
						<h3>Profile</h3>
						<p>Senior Web Developer specializing in front end development. Experienced with all stages of
							the development cycle for dynamic web projects.
							Well-versed in numerous programming languages including HTML5, PHP OOP, JavaScript, CSS,
							MySQL. Strong background in project
							management and customer relations.</p>
						<h3 class="pt-3 pb-1">Employment History</h3>
						<p><b>Web Developer</b> - 09/2019 to 05/2022<br><b>Luna Web Design</b>, New York</p>
						<p>Cooperate with designers to create clean interfaces and simple, intuitive interactions and
							experiences.</p>
						<p><b>Web Developer</b> - 09/2019 to 05/2022<br><b>Luna Web Design</b>, New York</p>
						<p>Cooperate with designers to create clean interfaces and simple, intuitive interactions and
							experiences.</p>
						<h3 class="pt-3 pb-1">Education</h3>
						<p><b>Barcelor of Science</b> - 09/2019 to 05/2022<br><b>Columbia University</b>, New York</p>
						<p>Cooperate with designers to create clean interfaces and simple, intuitive interactions and
							experiences.</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="text-center">
						Magdeburg, 29.05.2023
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Script-uri Bootstrap (jQuery și Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>