<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <style>
        .page-header {
            max-width: 1000px;
            margin: 0 auto;
        }

        .page-content {
            max-width: 1000px;
            margin: 0 auto;
        }
    </style>
    <title>Job Achiever Master</title>
</head>

<body>
    <!-- Header -->
    <div class="bg-secondary">
        <div class="bg-secondary page-header">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-regular fa-handshake fa-3x"></i>
                        Job Achiever Master
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="personal-info.html"><i class="fa-solid fa-user-tie"></i> Personal
                                info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="experience.html"><i class="fa-solid fa-ranking-star"></i> Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="education.html"><i class="fa-solid fa-user-graduate"></i> Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="applications.html"><i class="fa-solid fa-envelope"></i>
                                Applications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="simulations.html"><i class="fa-solid fa-comment"></i> Simulations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#"><i class="fa-solid fa-right-from-bracket"></i>
                                Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <!-- Content -->
    <div class="container-fluid page-content">
        <h1 class="text-center mt-4">Experience</h1>
        <form>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Titel</th>
                        <th>Company</th>
                        <th>Period</th>
                        <th class="col-1"></th>
                        <th class="col-1"></th>
                    </tr>
                    <tr>
                        <td>Web designer</td>
                        <td>Streamline ltd</td>
                        <td>12.12.2010 - 12.12.2012</td>
                        <td><button class="btn btn-primary" type="submit"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        <td><button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash"></i></button></td>
                    </tr>
                    <tr>
                        <td>Graphic designer</td>
                        <td>Buff agency ltd</td>
                        <td>11.05.1999 - 12.11.2010</td>
                        <td><button class="btn btn-primary" type="submit"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        <td><button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash"></i></button></td>
                    </tr>
                    <tr>
                        <td>Intern</td>
                        <td>Caxton ltd</td>
                        <td>01.02.1990 - 10.04.1999</td>
                        <td><button class="btn btn-primary" type="submit"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        <td><button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <table class="table mt-4">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td><input type="text" class="form-control" id="e_title">
                        </td>
                    </tr>
                    <tr>
                        <th>Company</th>
                        <td><input type="text" class="form-control" id="e_company">
                        </td>
                    </tr>
                    <tr>
                        <th>Date start</th>
                        <td><input type="date" class="form-control" id="e_date_start">
                        </td>
                    </tr>
                    <tr>
                        <th>Date end</th>
                        <td><input type="date" class="form-control" id="e_date_end">
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><textarea class="form-control" id="e_description" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><button class="btn btn-primary" type="submit">Save a new experience</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- Footer lipit de jos -->
    <footer class="bg-dark text-light text-center py-3 sticky-bottom">
        &copy; 2023 Job Achiever master - All rights reserved.
    </footer>

    <!-- Script-uri Bootstrap (jQuery și Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>